body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.order-service-btn {
  cursor: pointer;
  font-family: inherit;
}

.order-service-btn:hover,
.order-service-btn:focus {
  color: #404bbf;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

button {
  background: #4d5ae5;
  font-family: inherit;
}

/* ============== HEADER ============== */

.page-header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logotype-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  margin-right: 72 px;
  display: flex;
  margin-right: 76px;
  padding: 24px 0;
}

.span-color {
  color: #2e2f42;
}

.menu-list-names {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: flex;
  column-gap: 40px;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.menu-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-list-names {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-list {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.contact-list-item {
  display: flex;
  gap: 40px;
}

.contacts-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

/* ============== HERO STYLES =.contact-link .email {
  margin-right: 40px;
}
============= */

.contact-list {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.email {
  width: 153px;
  margin-right: 40px;
}

.phone {
  width: 151px;
}

.contacts {
  font-style: normal;
  letter-spacing: 0.02em;
  display: flex;
  align-items: flex-end;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* ============== HERO STYLES ============== */

.hero-section {
  background: #2e2f42;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.order-service-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}

.team-person,
.member-position,
.member-info,
.team-members {
  background-color: #ffffff;
}

/* ============== SECTION ADVANTAGES ============== */

.advantages-list {
  display: flex;
  gap: 24px;
  column-gap: 24px;
}

.advantages-list-items {
  gap: 24px;
  width: calc((100%-72px) / 4);
  column-gap: 24px;
}

.advanteges {
  background-color: #f4f4fd;
  color: #2e2f42;
  width: calc((100%-72px) / 4);
  padding-bottom: 120px;
}

.advantages-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.adventages-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== OUR TEAM ============== */
.team-section {
  background-color: #f4f4fd;
}

.member-info {
  width: calc((100%-72px) / 4);
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  background-color: FFFFFF;
}

.member-info-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.name-occupation {
  padding: 32px 0;
  gap: 24px;
}

.team-members {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-section-name,
.portfolio-section-named {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.team-person,
.member-position {
  text-align: center;
  margin-bottom: 8px;
}

.team-person {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.member-position {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: FFFFFF;
  text-align: center;
}

/* ============== OUR PORTFOLIO ============== */

.item-description {
  width: calc((100% - 48px) / 3);
}

.all-usage-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.usage {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.use-way {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============== FOOTER ============== */
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  height: 72px;
}

.footer-content {
  background: #2e2f42;
  padding: 100px 0;
}

.logotype-link {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  display: inline-block;
}

.footer-logo {
  margin-bottom: 16px;
}

.style {
  color: #f4f4fd;
}
